In [1]:
import pandas as pd
import csv

In [2]:
df=pd.read_csv('purchase_data.csv')

In [3]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
row_count = 0
  
for col in df.index: 
    row_count += 1
  
print(row_count)

780

In [5]:
#Player Count
total_Players = df['SN'].nunique()

In [6]:
print(total_Players)

576

In [7]:
#Purchasing Analysis (Total)
number_Unique_Items = df['Item ID'].nunique()
avg_Price = df.Price.mean()
number_Purchases = df['Purchase ID'].count()
total_Revenue = df.Price.sum()

df2 = pd.DataFrame({"Number of Unique Items": [number_Unique_Items],"Average Price": [avg_Price], 
"Number of Purchases": [number_Purchases], "Total Revenue": [total_Revenue]})

df2

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [8]:
#Gender Demographics
df3=df.groupby('Gender')

In [9]:
df3_Count = df3["SN"].nunique()
df3_Percentage = round(df3_Count / total_Players * 100,2)
df3_Percentage
df3_Count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [10]:
df3_Percentage

Gender
Female                   14.06
Male                     84.03
Other / Non-Disclosed     1.91
Name: SN, dtype: float64

In [11]:
#Purchasing Analysis (Gender)
for Gender, Gender_df in df3:
    print(Gender)
    print(Gender_df)

Female
     Purchase ID               SN  Age  Gender  Item ID  \
15            15        Lisassa64   21  Female       98
18            18        Reunasu60   22  Female       82
38            38         Reulae52   10  Female      116
41            41        Assosia88   20  Female        7
55            55        Phaelap26   25  Female       84
..           ...              ...  ...     ...      ...
731          731         Eudanu84   22  Female       12
740          740        Reunasu60   22  Female      127
754          754  Pheosurllorin41   23  Female       79
767          767          Ilmol66    8  Female       92
775          775       Aethedru70   21  Female       60

                        Item Name  Price
15    Deadline, Voice Of Subtlety   2.89
18                        Nirvana   4.90
38        Renewed Skeletal Katana   4.18
41   Thorn, Satchel of Dark Souls   1.33
55                     Arcane Gem   3.79
..                            ...    ...
731                         Dawne   1.02
740  Heartseeker, Reaver of Souls   3.92
754           Alpha, Oath of Zeal   4.05
767                  Final Critic   4.88
775                          Wolf   3.54

[113 rows x 7 columns]
Male
     Purchase ID             SN  Age Gender  Item ID  \
0              0        Lisim78   20   Male      108
1              1    Lisovynya38   40   Male      143
2              2     Ithergue48   24   Male       92
3              3  Chamassasya86   24   Male      100
4              4      Iskosia90   23   Male      131
..           ...            ...  ...    ...      ...
774          774     Jiskjask80   11   Male       92
776          776         Iral74   21   Male      164
777          777     Yathecal72   20   Male       67
778          778        Sisur91    7   Male       92
779          779      Ennrian78   24   Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
774                               Final Critic   4.19
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[652 rows x 7 columns]
Other / Non-Disclosed
     Purchase ID            SN  Age                 Gender  Item ID  \
9              9   Chanosian48   35  Other / Non-Disclosed      136
22            22  Siarithria38   38  Other / Non-Disclosed       24
82            82    Haerithp41   16  Other / Non-Disclosed      160
111          111      Sundim98   21  Other / Non-Disclosed       41
228          228   Jiskirran77   20  Other / Non-Disclosed       80
237          237     Idairin51   20  Other / Non-Disclosed       16
242          242     Eodaisu60   16  Other / Non-Disclosed       39
291          291     Idairin51   20  Other / Non-Disclosed       35
350          350     Rairith81   15  Other / Non-Disclosed       34
401          401      Lirtim36   15  Other / Non-Disclosed       46
484          484   Chanosian48   35  Other / Non-Disclosed       39
549          549    Maluncil97   25  Other / Non-Disclosed      146
629          629    Maluncil97   25  Other / Non-Disclosed      107
637          637        Airi27   24  Other / Non-Disclosed      163
747          747  Siarithria38   38  Other / Non-Disclosed      146

                                Item Name  Price
9            Ghastly Adamantite Protector   3.58
22                          Warped Fetish   3.81
82                             Azurewrath   4.40
111                                 Orbit   4.75
228                             Dreamsong   3.39
237                       Restored Bauble   3.55
242  Betrayal, Whisper of Grieving Widows   3.94
291              Heartless Bone Dualblade   3.45
350                       Retribution Axe   2.22
401               Hopeless Ebon Dualblade   1.33
484  Betrayal, Whisper of Grieving Widows   3.94
549                  Warped Iron Scimitar   3.10
629             Splitter, Foe Of Subtlety   2.18
637                  Thunderfury Scimitar   3.45
747                  Warped Iron Scimitar   3.10

In [12]:
Male_df=df3.get_group('Male')
Female_df=df3.get_group('Female')
Other_df=df3.get_group('Other / Non-Disclosed')

In [13]:
Male_df_avg_Price = Male_df.Price.mean()
Male_df_avg_Price

3.0178527607361953

In [14]:
Purchase_Count_Male_df = Male_df['Purchase ID'].count()
Purchase_Count_Male_df

652

In [15]:
Total_Purchase_Value_Male_df=Male_df.Price.sum()
Total_Purchase_Value_Male_df

1967.64

In [16]:
Average_Purchase_Total=Purchase_Count_Male_df/Total_Purchase_Value_Male_df
Average_Purchase_Total

0.3313614279034783

In [17]:
Female_df_avg_Price = Female_df.Price.mean()
Purchase_Count_Female_df = Female_df['Purchase ID'].count()
Total_Purchase_Value_Female_df=Female_df.Price.sum()
Average_Purchase_Total_Female=Purchase_Count_Female_df/Total_Purchase_Value_Female_df

In [18]:
Other_df_avg_Price = Other_df.Price.mean()
Purchase_Count_Other_df = Other_df['Purchase ID'].count()
Total_Purchase_Value_Other_df=Other_df.Price.sum()
Average_Purchase_Total_Other=Purchase_Count_Other_df/Total_Purchase_Value_Other_df

In [19]:
Purchase_by_Gender=pd.DataFrame({})

In [20]:
Purchase_by_Gender={"Purchase Count": [Purchase_Count_Male_df, Purchase_Count_Female_df, Purchase_Count_Other_df],
                    "Average Purchase Price": [Male_df_avg_Price, Female_df_avg_Price, Female_df_avg_Price], 
                    "Total Purchase Value": [Total_Purchase_Value_Male_df, Total_Purchase_Value_Female_df, Total_Purchase_Value_Other_df],
                    "Avg Purchase Total per person": [Average_Purchase_Total, Average_Purchase_Total_Female, Average_Purchase_Total_Other]}

In [21]:

df1 = pd.DataFrame(Purchase_by_Gender, columns = ['Purchase Count','Average Purchase Price', 'Total Purchase Value', 
                                                  'Avg Purchase Total per person'], index=['Male','Female','Other'])

print (df1)

        Purchase Count  Average Purchase Price  Total Purchase Value  \
Male               652                3.017853               1967.64
Female             113                3.203009                361.94
Other               15                3.203009                 50.19

        Avg Purchase Total per person
Male                         0.331361
Female                       0.312206
Other                        0.298864

In [22]:
#Age Demographics
bins = [0, 10, 20, 30, 40, 50, 60]
age_labels = ["<20", "20-30", "31-40", "41-50", "51-60", "61+"]

In [23]:
df["Age Labels"] = pd.cut(df["Age"], bins, labels=age_labels)
grouped_age_df = df.groupby(["Age Labels"])

In [24]:
grouped_age_df

In [25]:
ageCount = grouped_age_df["SN"].nunique()
agePercentage = ageCount / total_Players * 100
agePercentage

Age Labels
<20       4.166667
20-30    33.159722
31-40    50.520833
41-50    10.937500
51-60     1.215278
61+       0.000000
Name: SN, dtype: float64

In [26]:
age_demo_df = pd.DataFrame({"Total Count": ageCount,
                            "Percentage of Players": agePercentage})

In [27]:
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2f}%".format)

In [28]:
age_demo_df[["Total Count", "Percentage of Players"]]

            Total Count Percentage of Players
Age Labels
<20                  24                 4.17%
20-30               191                33.16%
31-40               291                50.52%
41-50                63                10.94%
51-60                 7                 1.22%
61+                   0                 0.00%